@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
	background:#ECF0F1;
	font-family: 'Montserrat', sans-serif;
}

a {
	display:block;
	text-decoration:none;
	color:#A2A5A6;
	text-align:center;
	padding:20px 0 0;
}

form {
	margin:5% auto;
	width:400px;
	min-height:400px;
	background:white;
	padding:2.5% 5% 2.5%;
	border-radius:2.5%;
}

form img {
	text-align:center;
	width:35%;
	margin:0 auto;
	display:block;
	padding:0;
}

h2 {
	font-size:2em;
	padding:0;
	margin:0;
	text-align:center;
}

input {
	margin:5% 0;
	border:none;
	width:100%;
	font-size:1.5em;
	padding:0 0 2%;
	background:none;
}

textarea:focus, input:focus{
    outline: 0;
}

#did {
	border-bottom:2px solid #52d9e5;
}

#name {
	border-bottom:2px solid #2a99ef;
}

label {
	color:#BDC3C7;
	text-transform:uppercase;
	font-size:0.8em;
	letter-spacing:4px;
}

#button {
	background:none;
	text-align: center;
	cursor: pointer;
	border:none;
	width:100%;
	min-height:50px;
	margin:10px 0 10px;
	border-radius:2.5%;
	color:white;
	padding: 10px 0 0 0;
	font-size:1.75em;
	
	-webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out; 
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a99ef+0,fbd75c+100 */
	background: #2a99ef; /* Old browsers */
	background: -moz-linear-gradient(left,  #2a99ef 0%, #52d9e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2a99ef), color-stop(100%,#52d9e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #2a99ef 0%,#52d9e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #2a99ef 0%,#52d9e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #2a99ef 0%,#52d9e5 100%); /* IE10+ */
	background: linear-gradient(to right,  #2a99ef 0%,#52d9e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a99ef', endColorstr='#52d9e5',GradientType=1 ); /* IE6-9 */
}

#button:hover {
    background-position:-400px;  
} 

html {
	background:rgba(255,255,255,0.95);
}

